.navbar{
    height: 50px;
    background-color: rgb(61, 61, 176);
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-weight: 600;
}
.nav-btns{
    border: none;
    margin-left: 25px;
    padding: 10px 20px;
    color: rgb(61, 61, 176);
    cursor: pointer;
}